.prewiew-min {
  margin: 0 auto;
  background-color: burlywood;
}

.prewiew-min__landscape {
  height: 158px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: 25% 90%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  background-color: lightskyblue;

  margin: 0 auto;
}

.prewiew-min__triangle {
  position: relative;
  height: 0;
  margin-top: -26px;
}

.prewiew-min__triangle::after {
  content: "";
  height: 26px;
  width: 320px;

  position: absolute;
  top: 0;
  left: calc(50% - 160px);

  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
}

.prewiew-min__image {
  margin-top: 52px;
}

//------------------styles-for-tablet------------------------//

@media (min-width: $tablet-width) {

  .prewiew-min__landscape {
    height: 290px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-position: 25% 90%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .prewiew-min__triangle {
    margin-top: -57px;
  }

  .prewiew-min__triangle::after {
    content: "";
    height: 57px;
    width: 768px;

    position: absolute;
    top: 0;
    left: calc(50% - 384px);

    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-repeat: no-repeat;
  }

  .prewiew-min__image {
    margin-top: 95px;

    width: 458px;
    height: 78px;
  }
}

//--------------------------styles-for-desktop----------------------//

@media (min-width: $desktop-width) {

  .prewiew-min__landscape {
    height: 301px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-position: 25% 100%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .prewiew-min__triangle {
    margin-top: -57px;
  }

  .prewiew-min__triangle::after {
    content: "";
    height: 57px;
    width: 1200px;

    position: absolute;
    top: 0;
    left: calc(50% - 600px);

    background-image: url("../img/bg-intro-triangle-desktop.svg");
    background-repeat: no-repeat;
  }
}
