.video {
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 33px;
}

.video__title {
  @include title-style;
  margin: 0;
  margin-bottom: 26px;
}

.video__description {
  width: 72%;
  margin: auto;
  margin-bottom: 35px;
}

.video__video-player {
  margin: 0 auto;
  width: 100%;
}

.video__image {
  width: 100%;
  object-fit: cover;

  background-color: lightsteelblue;
}

.video__controls {
  position: relative;
  height: 66px;

  margin: 0 auto;
  margin-top: -7px;
  width: 86%;

  background-color: $form-grey;
}

.video__progress-control {
  position: absolute;
  top: -45px;
  left: 0;

  width: 100%;
  height: 45px;

  background-color: rgba(0, 0, 0, 0.5);

  &:after {
    content: "";

    position: absolute;
    width: 84%;
    height: 3px;

    top: 20px;
    left: 8%;

    background-color: rgba(255, 255, 255, 0.5);
  }

  &:before {
    content: "";

    position: absolute;
    width: 9px;
    height: 9px;

    top: 17px;
    left: 21%;

    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
  }
}

.video__replay-control {
  position: absolute;
  width: 26;
  height: 20px;

  left: 8%;
  top: 22px;

  path {
    opacity: 0.7;
  }

  :hover path,
  :focus path{
    opacity: 1;
  }

  :active path {
    opacity: 0.5;
  }
}

.video__rigth-control {
  position: absolute;
  width: 83px;

  left: calc(92% - 83px);
  top: 22px;

  path,
  polygon {
    opacity: 0.7;
  }

  :hover path,
  :focus path,
  :hover polygon,
  :focus polygon {
    opacity: 1;
  }

  :active path,
  :active polygon {
    opacity: 0.5;
  }

  svg:first-child {
    margin-right: 26px;
  }
}

//--------------------------------styles-for-tablet

@media (min-width: $tablet-width) {
  .video {
    margin-bottom: 30px;
    margin-top: 45px;
  }

  .video__title {
    font-size: 26px;
  }

  .video__description {
    margin: 0 auto;
    margin-bottom: 75px;
  }

  .video__video-player {
    width: 86%;
    height: 500px;
  }

  .video__image {
    height: 500px;
  }

  .video__controls {
    height: 0px;
    width: 100%;
  }

  .video__progress-control {
    top: -93px;
    left: 0px;

    width: 100%;
    height: 93px;

    &:after {
      width: 60%;
      height: 3px;

      top: 46px;
      left: 14%;
    }

    &:before {
      top: 42px;
      left: 31.5%;
    }
  }

  .video__replay-control {
    position: absolute;
    top: -58px;
    left: 5%;

    width: 26;
    height: 20px;

    margin: 0;

    path {
      fill: white;
      opacity: 1;
    }

    :hover path,
    :focus path{
      opacity: 0.7;
    }

    :active path {
      opacity: 0.5;
    }
  }

  .video__rigth-control {
    margin: 0;
    top: -56px;
    right: 5%;

    path,
    polygon {
      fill: white;
      opacity: 1;
    }

    :hover path,
    :focus path,
    :hover polygon,
    :focus polygon {
      opacity: 0.7;
    }

    :active path,
    :active polygon {
      opacity: 0.5;
    }
  }
}
  //-----------------------------styles-for-desctop

@media (min-width: $desktop-width) {
  .video {
    width: 800px;
    margin-bottom: 100px;
  }

  .video__video-player {
    width: 648px;
    height: 500px;
  }

  .video__video-player {
    width: 800px;
    height: 500px;
  }

  .video__image {
    width: 800px;
    height: 500px;
  }

  .video__controls {
    width: 800px;
    height: 0px;
  }

  .video__progress-control {
    width: 800px;
  }

  .video__progress-control {

    &:after {
      width: 540px;
    }
  }
}
