//миксин для блоков с основным светло-голубым цветом и белым текстом

@mixin blue-block {
  background-color: $light-grey-blue;
  color: rgb(255, 255, 255);
}

@mixin list-style {
  list-style: none;

  margin: 0;
  padding: 0;
}

@mixin title-style {
  font-family: $mane-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@mixin big-title-style {
  font-family: $mane-font;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@mixin font-description {
  line-height: 21px;
  color: $dark-grey;
}

@mixin input-style {
  @include title-style;
  background-color: $form-grey;
  border: none;
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
