//миксин для блоков с основным светло-голубым цветом и белым текстом

@mixin blue-block {
  background-color: $light-grey-blue;
  color: rgb(255, 255, 255);
}

@mixin list-style {
  list-style: none;

  margin: 0;
  padding: 0;
}

@mixin title-style {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 26px;
}

@mixin big-title-style {
  font-family: $font-bold;
  font-size: 21px;
  line-height: 26px;
}

@mixin font-description {
  line-height: 21px;
  color: $dark-grey;
}

@mixin bg-prewiew-mobile {
  height: 389px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

@mixin bg-prewiew-tablet {
  height: 518px;

  background-image: url("../img/bg-back-tablet@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

@mixin bg-prewiew-desktop {
  height: 518px;

  background-image: url("../img/bg-back-desktop@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

@mixin input-style {
  @include title-style;
  background-color: $form-grey;
  border: none;
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
