//переменная для толстого шрифта
$font-bold: ("PT Sans Bold", "Arial Bold", sans-serif);

//перемнные цветов
$light-grey-blue: #81b3d2;
$dark-grey: #333333;
$border-color: #949494;
$form-grey: #f2f2f2;

//переменные для экранов
$tablet-width: 768px;
$desktop-width: 1200px;
