//переменная для шрифта
$mane-font: ("PT Sans", "Arial", sans-serif);

//перемнные цветов
$light-grey-blue: rgba(129, 179, 210, 1);
$dark-grey: #333333;
$border-color: #949494;
$form-grey: #f2f2f2;

//переменные для экранов
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
