.page-footer {
  margin: 0 auto;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 239px;
}

.page-footer__hash-tag {
  font-family: $font-bold;
  font-size: 21px;
}

.page-footer__social {

}

.social {

}

.social-list {
  @include list-style;

  display: flex;
  justify-content: center;
}

.social-item {
  padding-right: 6px;
}

.socail-link {
  background-color: $light-grey-blue;

  &--twitter {

  }

  &--facebook {

  }

  &--youtube {

  }
}

.page-footer__copyright {

}

.copyright {

}

.copyright__discription {

}

.copyrigth__link {

}

.copyrigth__image {

}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__wrapper {
    height: 120px;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: $desctop-width) {
  .page-footer {
    width: 1200px;
  }
}
