.page-footer {
  margin: 0 auto;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 239px;
}

.page-footer__hash-tag {
  font-weight: 700;
  font-size: 21px;

  padding-top: 14px;
}

.social {
  height: 48px;
  padding-top: 5px;
}

.social__list {
  @include list-style;

  display: flex;
  justify-content: center;
}

.social__item {
  padding-right: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  background-color: $light-grey-blue;

  path {
    fill: white;
  }

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active path {
    opacity: 0.3;
  }

}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright__discription {
  margin: 0;
  padding-right: 10px;
  padding-top: 12px;
}

.copyrigth__link {
  margin-top: 10px;

  &:hover path,
  &:focus path {
    fill: $light-grey-blue;
  }

  &:active path {
    fill: #b4b4b4;
  }
}

.copyrigth__image {

}

//--------------------styles-for-tablet

@media (min-width: $tablet-width) {

  .page-footer__wrapper {
    width: 86%;
    margin: 0 auto;

    justify-content: space-between;
  }

  .page-footer__hash-tag {
    padding-top: 0;
  }

  .page-footer__wrapper {
    height: 120px;
    flex-direction: row;
    align-items: center;
  }

  .social {
    padding-top: 0;
  }

  .copyright__discription {
    padding-top: 15px;
  }
}

//--------------------styles-for-desctop

@media (min-width: $desktop-width) {

  .page-footer__hash-tag {
    margin-left: -12px;
  }

  .social {
    margin-left: 25px;
    margin-right: 25px;
  }
}
