.page-header {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 320px;
  margin: 0 auto;
}

.page-header__menu {
  order: 2;
  display: flex;
  justify-content: flex-end;
  height: 56px;
}

.page-header__logo {
  position: absolute;
  left: 110px;
}

.page-header__logo-image {

}

.page-header__button {

}

.main-nav--closed .page-header__button::before {
  content: "";

  position: absolute;
  left: 277px;
  top: 17px;

  width: 23px;
  height: 4px;
  background-color: $light-grey-blue;

  box-shadow: 0 4px 0 0 $light-grey-blue, 0 4px 0 0 $light-grey-blue;
}

.main-nav {

}

.main-nav__wrapper {

}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 223px;
}

.site-list__item {
  display: flex;

  width: 320px;
  height: 56px;

  &--active {

  }
}

.site-list__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;

  @include blue-block;

  padding-top: 8px;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    margin: 0 auto;
  }

  .page-header__menu {
    height: 0;
  }

  .page-header__logo {
    top: 0;
    left: 333px;
  }

  .page-header__button {
    display: none;
  }

  .site-list {
    min-height: 56px;

    flex-direction: row;
    justify-content: right;
  }

  .site-list__item {
    display: inline-block;
    text-align: center;
    height: 41px;
    padding-top: 15px;

    &--left {
      padding-right: 150px;
    }
  }

  .site-list__link {
    background: none;

    color: black;
    font-family: $font-bold;
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
    margin: 0 auto;
  }

  .page-header__logo {
    top: 0;
    left: 547px;
  }
}
